{% extends 'MTIMusicAndMeBundle:BaseHTML:base.html.twig' %}

{% block content %}
<span id="reload-header" data-reload-value="false" style="{display:none}"></span>
<ul class="breadcrumb">
	<li>
	<a href="{{ path('MTIMusicAndMeBundle_homepage') }}">Music &amp; Me</a> <span class="divider">/</span>
	</li>
	<li class="active">Recherche de flux<span class="divider">></span><span id="search_text">{{ toSearch }}</span></li>
</ul>
<section id="search-flux">

	<div>
		<h3>&ensp;</h3>
	</div>
	<table class="table">
		<tbody>
			{% for stream in listeStream %}
			<tr>
				<td id="stream-id" style="display: none;">{{ stream.id }}</td>
				<td>
				<img class="thumbnail" src="{% if listCur[stream.id] %}../{{ listCur[stream.id].music.album.getCoverPath() }}{% else %}/images/placeholder.png{% endif %}" alt="">
				</td>
				<td>{{ stream.name }}</td>
				<td>{{ stream.owner.firstname }} {{ stream.owner.lastname }}</td>
				<td>{% if listCur[stream.id] %}{{ listCur[stream.id].music.title }}{% else %}Aucune musique n'est actuellement jouée{% endif %}</span></td>
				<td>
					<div class="btn btn-primary tip" data-placement="bottom" rel="popover" data-original-title="Écouter !"><i class="icon-play icon-white"></i></div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</section>
{% endblock %}
