{% extends 'MTIMusicAndMeBundle:BaseHTML:base.html.twig' %}

{% block content %}
<ul class="breadcrumb">
  <li>
    <a href="{{ path('MTIMusicAndMeBundle_homepage') }}">Music &amp; Me</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="{{ path('MTIMusicAndMeBundle_searchZik') }}">Recherche de musique</a> <span class="divider">/</span>
  </li>
  <li class="active">{{ toSearch }}</li>
</ul>
	<section id="search-zik">
		<div id="stream-id" style="display: none;">{{ stream_id }}</div>
		<div>
			<h3>&ensp;</h3>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Titre</th>
					<th>Album</th>
					<th>Artiste</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			{% for zik in listeZik %}
				<tr>
					<td class="music-id" style="display: none;">{{ zik.id }}</td>
					<td>
					<img class="thumbnail" src="{{ zik.album.getCoverPath() }}" alt="">
					</td>
					<td>{{ zik.title }}</td>
					<td>{{ zik.album.title }}</td>
					<td>{{ zik.album.artiste.name }}</td>
					<td><div class="btn tip" data-placement="bottom" rel="popover" data-original-title="Ajouter et voter !"><i class="icon-plus icon-black"></i></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</section>
{% endblock %}
