{% extends 'MTIMusicAndMeBundle:BaseHTML:base.html.twig' %}

{% block content %}
	<ul class="breadcrumb">
		<li>
			<a href="{{ path('MTIMusicAndMeBundle_homepage') }}">Music &amp; Me</a> <span class="divider">/</span>
		</li>
		<li>
			<a href="{{ path('MTIMusicAndMeBundle_streamIndex') }}">Mes flux</a> <span class="divider">/</span>
		</li>
		<li class="active">{{ stream.name }}</li>
	</ul>
	<section id="stream-musics">
		<div class="page-header">
			<h1>{{ stream.name }}</h1>
		</div>
		<div>
			<h3>&ensp;</h3>
		</div>
		<div id="stream-id" style="display: none;">{{ stream.id }}</div>
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Musique</th>
					<th>Status</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="music-id" style="display: none;">3</td>
					<td>
						<img class="thumbnail" src="/images/cover_thumb.jpg" alt="">
					</td>
					<td>Lorem Ipsum — Lorem Ipsum — Lorem Ipsum</td>
					<td><span class="label label-important">En ce moment</span></td>
					<td>
						<div class="btn btn-primary tip" data-placement="bottom" rel="popover" data-original-title="Écouter !"><i class="icon-play icon-white"></i></div>
					</td>
				</tr>
				<tr>
					<td class="music-id" style="display: none;">86786234</td>
					<td>
						<img class="thumbnail" src="/images/cover_thumb.jpg" alt="">
					</td>
					<td>Lorem Ipsum — Lorem Ipsum — Lorem Ipsum</td>
					<td><span class="badge"><span class="vote-count">23</span> votes</span></td>
					<td>
						<div class="btn tip" data-placement="bottom" rel="popover" data-original-title="Voter !"><i class="icon-arrow-up icon-black"></i></div>
					</td>
				</tr>
				<tr>
					<td class="music-id" style="display: none;">3</td>
					<td>
						<img class="thumbnail" src="/images/cover_thumb.jpg" alt="">
					</td>
					<td>Lorem Ipsum — Lorem Ipsum — Lorem Ipsum</td>
					<td><span class="badge"><span class="vote-count">23</span> votes</span></td>
					<td>
						<div class="btn tip" data-placement="bottom" rel="popover" data-original-title="Voter !"><i class="icon-arrow-up icon-black"></i></div>
					</td>
				</tr>
				<tr>
					<td class="music-id" style="display: none;">3</td>
					<td>
						<img class="thumbnail" src="/images/cover_thumb.jpg" alt="">
					</td>
					<td>Lorem Ipsum — Lorem Ipsum — Lorem Ipsum</td>
					<td><span class="badge"><span class="vote-count">23</span> votes</span></td>
					<td>
						<div class="btn tip" data-placement="bottom" rel="popover" data-original-title="Voter !"><i class="icon-arrow-up icon-black"></i></div>
					</td>
				</tr>
				<tr>
					<td class="music-id" style="display: none;">3</td>
					<td>
						<img class="thumbnail" src="/images/cover_thumb.jpg" alt="">
					</td>
					<td>Lorem Ipsum — Lorem Ipsum — Lorem Ipsum</td>
					<td><span class="badge"><span class="vote-count">23</span> votes</span></td>
					<td>
						<div class="btn tip" data-placement="bottom" rel="popover" data-original-title="Voter !"><i class="icon-arrow-up icon-black"></i></div>
					</td>
				</tr>
				<tr>
					<td>
						<img class="thumbnail" src="/images/cover_thumb.jpg" alt="">
					</td>
					<td>Lorem Ipsum — Lorem Ipsum — Lorem Ipsum</td>
					<td><span class="badge"><span class="vote-count">12</span> votes</span></td>
					<td>
						<a class="btn btn-success disabled" href="#"><i class="icon-ok icon-white"></i></a>
					</td>
				</tr>
				<tr>
					<td class="music-id" style="display: none;">3</td>
					<td>
						<img class="thumbnail" src="/images/cover_thumb.jpg" alt="">
					</td>
					<td>Lorem Ipsum — Lorem Ipsum — Lorem Ipsum</td>
					<td><span class="badge"><span class="vote-count">23</span> votes</span></td>
					<td>
						<div class="btn tip" data-placement="bottom" rel="popover" data-original-title="Voter !"><i class="icon-arrow-up icon-black"></i></div>
					</td>
				</tr>
				<tr>
					<td class="music-id" style="display: none;">3</td>
					<td>
						<img class="thumbnail" src="/images/cover_thumb.jpg" alt="">
					</td>
					<td>Lorem Ipsum — Lorem Ipsum — Lorem Ipsum</td>
					<td><span class="badge"><span class="vote-count">23</span> votes</span></td>
					<td>
						<div class="btn tip" data-placement="bottom" rel="popover" data-original-title="Voter !"><i class="icon-arrow-up icon-black"></i></div>
					</td>
				</tr>
			</tbody>
		</table>
	</section>
{% endblock %}
